---

---

<section id="proyectos" class="py-32 bg-white">
  <div class="flex flex-col md:flex-row justify-between items-end mb-24 gap-8">
    <div class="max-w-2xl">
        <h2 class="text-xs font-black uppercase tracking-[0.5em] text-blue-600 mb-4 italic underline decoration-4">
            Proyecto en construccion
        </h2>
        <h3 class="text-6xl md:text-8xl font-black tracking-tighter text-black uppercase leading-[0.8]">
            Coop <br/> <span class="text-gray-200 group-hover:text-blue-600 transition-colors">
            Company</span>
        </h3>
    </div>
    <p class="text-sm font-bold text-gray-400 uppercase tracking-widest text-right md:max-w-50">
        Un proyecto profesional en evolución, orientado a la creación de soluciones a través del codigo.
    </p>
  </div>

  <div class="space-y-32">
    
    <div class="group relative grid grid-cols-1 md:grid-cols-12 gap-12 items-center">
        <div class="md:col-span-7 overflow-hidden rounded-2xl bg-gray-100 border border-gray-200 aspect-video flex items-center justify-center relative">
            <div class="absolute inset-0 bg-linear-to-tr from-blue-600/10 to-transparent"></div>
            <img 
                src="/imgs/Coop.svg" 
                alt="Project Highlight" 
                class="w-full h-full object-cover transition-transform duration-1000 ease-in-out group-hover:scale-110" 
            />
        </div>
        
        <div class="md:col-span-5 space-y-6">
            <div class="flex items-center gap-3">
                <span class="px-3 py-1 bg-black text-white text-[10px] font-black uppercase tracking-widest">
                    SaaS - Software
                </span>
                <span class="text-blue-600 font-bold text-xs font-mono">/ Muy Pronto</span>
            </div>
            <p class="text-gray-600 leading-relaxed font-medium">
                Coop es un proyecto en desarrollo que aspira a convertirse en un referente en la creación 
                de soluciones tecnológicas. Nuestra visión es ofrecer Software como Servicio (SaaS) seguro, 
                escalable y de alto rendimiento, diseñado para satisfacer las necesidades de pequeñas, 
                medianas y grandes organizaciones, así como de personas que buscan herramientas avanzadas 
                para potenciar sus proyectos.
            </p>
            <div class="flex gap-4 pt-4">
                <a href="#" class="text-xs font-black uppercase tracking-widest border-b-2 border-black pb-1 hover:text-blue-600 hover:border-blue-600 transition-all italic">
                    Bienvenidos a Coop
                </a>
            </div>
        </div>
    </div>
  </div>
</section>